@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code {
    @apply bg-campfire-950 text-lime-500 font-mono py-1.5 px-3 rounded-md ml-2;
  }
  a {
    @apply text-amber-500 hover:text-white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Caprasimo", serif;
  font-style: normal;
}